.img-responsive {
    width: 150px;
    height: 150px;
}
.img-responsive:hover {
    width: 200px;
    height: 200px;
}
.desk {
    position: absolute;
    color: white;
}
.project-pic:hover h6{
    color: black;
}