.img-responsive {
    width: 150px;
    height: 150px;
}

.desk {
    position: absolute;
    top:0;
    left:0;
    border: 15px solid black;
    color: white;
    opacity: 0;
    width: 150px;
    height:150px;
    background-color: grey;
    
}
.project-pic:hover .desk{
    color:white;
    opacity: .75;
}
